* {
    text-decoration: none;
    list-style: none;
    font-family: Montserrat, sans-serif;
    /*background-attachment: fixed;*/
}

.container {
    width: 1200px;
    margin: 0 auto;
    /*padding: 0 20px;*/
}

.top_bg_img {
    background-image: url("../images/bg_header.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav_bar {
    background-color: rgba(73, 71, 63, 0.5);
    /*position: fixed;*/
    /*width: 1920px;*/
}

.nav_bar_top_logo_img {
    padding-right: 4rem;
}

.nav_bar_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_bar_top_ul, .search_logo {
    /*padding: 10px;*/
    margin: -2px;
}

.search_logo {
    width: 19px;
    height: 18px;
}

.nav_bar_top_li, .nav_bar_top_li_home {
    display: inline-block;
    padding: 60px 16px;
}

.nav_bar_top_li_home {
    border-bottom: 2px solid #18cfab;
}

.nav_bar_top_a, .nav_bar_top_a_h {
    color: #b8b8b8;
}

.main_view {
    /*padding-top: 20rem;*/
    /*color: royalblue;*/
    font-size: 20px;
}

.title_wp_theme, .title_creative, .title_buy_and_enjoy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_wp_theme {
    padding-top: 246px;
    color: white;
    font-size: 2.188rem; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 0.272; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.title_wp_theme_green {
    font-size: 2.188rem; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 0.272; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    color: #18cfab;
}

.title_creative {
    padding-top: 45px;
    color: #ffffff;
    font-size: 4.938rem; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 0.937; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0005);
}

.title_buy_and_enjoy {
    padding-top: 20px;
    color: #d4d4d4;
    font-size: 2.125rem; /* Приближение из-за подстановки шрифтов */
    /*font-weight: 300;*/
    line-height: 2.176; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleX(1.0005);
}

.main_view_btn1 {
    width: 166px;
    height: 61px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 4px;
    background-color: #18cfab;
    margin-right: 28px;
}

.main_view_btn2 {
    width: 166px;
    height: 61px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 4px;
    background-color: #00cbf6;
}

.main_view_buttons {
    padding-top: 111px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title_services {
    padding-top: 82px;
    color: #4e4e4e;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    padding-bottom: 37px;
}

.services_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 15.98px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.service_text {
    color: #777777;
    font-size: 13.64px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 25px; /* Приближение из-за подстановки шрифтов */
    text-align: justify;
}

.services_btn_2, .services_btn_3, .services_btn_4, .services_btn_5, .services_btn_6 {
    display: flex;
    /*background-color: #18CFAB;*/
    background-color: #fffcfc;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 73px;
    color: #717171;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0009);
}

.services_btn_1:active, .services_btn_2:active, .services_btn_3:active, .services_btn_4:active, .services_btn_5:active, .services_btn_6:active {
    background-color: #18cfab;
}

.services_btn_1 {
    background-color: #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 193px;
    height: 73px;
    color: #717171;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    transform: scaleY(1.0009);
}

.service_img {
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 50px;
}

.content_in_service {
    margin-bottom: 140px;
}

.purchase_bg {
    background-image: url("../images/purchase_block_bg.png");
    height: 470px;
    background-size: cover;
    background-position: center;
}

.test_test_test {
    color: #00cbf6;
    background-color: #d4d4d4;
    font-size: 20px;
}

.purchase_title_buy_and_install {
    padding-top: 120px;
    color: #18cfab;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.purchase_title_smooth_reliable {
    padding-top: 35px;
    color: #d8d8d8;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    text-align: center;
}

.purchase_btn {
    color: white;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 61px;
}

.purchase_button {
    font-size: 13px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.our_amazing_title {
    padding-top: 90px;
    color: #4e4e4e;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.111;
    text-align: center;
}

.hr1 {
    color: #18cfab;
    width: 70px;
}

.hr2 {
    width: 78px;
    color: #18cfab;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our_amazing_lines {
    padding-top: 40px;
}

.our_amazing_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

/*.our_amazing_buttons_bar {*/
/*padding-top: 70px;*/
/*height: 58px;*/
/*display: flex;*/
/*justify-content: center;*/
/*padding-bottom: 70px;*/
/*}*/

.features {
    display: flex;
    justify-content: center;
    align-items: center;

}

.block-features1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 370px;
    background: #1C2A33 url("../images/forma1.png") no-repeat center top 60px;
    color: #18CFAB;
    margin: auto;
    border-top: 5px solid #18cfab;

}

.block-features2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 370px;
    background: #18CFAB url("../images/forma2.png") no-repeat center top 80px;
    color: #ffffff;
    margin: auto;
    border-top: 5px solid #ffffff;

}

.block-features3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 370px;
    background: #1C2A33 url("../images/forma3.png") no-repeat center top 62px;
    color: #18CFAB;
    margin: auto;
    border-top: 5px solid #18cfab;

}

.block-features4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 480px;
    height: 370px;
    background: #18CFAB url("../images/forma4.png") no-repeat center top 80px;
    color: #ffffff;
    margin: auto;
    border-top: 5px solid #ffffff;

}

.cell_1, .cell_2, .cell_3, .cell_4, .cell_5, .cell_6, .cell_7, .cell_8, .cell_9, .cell_10, .cell_11, .cell_12 {
    width: 250px;
    height: 200px;
    border: 1px solid white;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*color: black;*/
}

.row {
    display: flex;
    justify-content: center;
}

.our_amazing_load_more_button {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 110px;
}

.our_amazing_load_more_btn {
    font-weight: bold;
    color: white;
    border-radius: 4px;
    background-color: #18cfab;
    width: 165px;
    height: 61px;
}

.plus_1 {
    width: 16px;
    /*height: 16px;*/
    font-weight: bold;
}

.bg_our_amazing_block {
    background-image: url("../images/bg_our_amazing.png");
    background-size: cover;
    background-position: center;
}

.breaking_news_title {
    padding-top: 83px;
    padding-bottom: 30px;
    color: #4e4e4e;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.breaking_images_block {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #717171;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.breaking_by_admin {
    color: #777777;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.breaking_by_admin, .breaking_amazing_img_post {
    display: inline-block;
    padding-left: 28px;
}

.breaking_amazing_img_post:hover {
    color: #18CFAB;
}

.breaking_img_1, .breaking_img_2, .breaking_img_3, .breaking_img_4 {
    display: block;
    justify-content: center;
    align-items: center;
}

.breaking_img_1 {
    background-image: url("../images/layer_breaking_news_1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 263px;
    height: 208px;
    /*padding-right: 28px;*/
}

.breaking_img_2 {
    background-image: url("../images/layer_breaking_news_2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 263px;
    margin-left: 28px;
    /*margin-right: 28px;*/
    height: 208px;
}

.breaking_img_3 {
    background-image: url("../images/layer_breaking_news_3.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 20px;
    margin-right: 28px;
    width: 263px;
    height: 208px;
}

.breaking_img_4 {
    background-image: url("../images/layer_breaking_news_4.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 263px;
    height: 208px;
}

.breaking_img_5 {
    background-image: url("../images/layer_breaking_news_5.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 263px;
    height: 208px;
}

.breaking_img_1:hover:after, .breaking_img_2:hover:after, .breaking_img_3:hover:after, .breaking_img_4:hover:after, .breaking_img_5:hover:after, .breaking_img_6:hover:after, .breaking_img_7:hover:after, .breaking_img_8:hover:after {
    background-color: #18cfab;
}

.breaking_img_1:after, .breaking_img_2:after, .breaking_img_3:after, .breaking_img_4:after, .breaking_img_5:after, .breaking_img_6:after, .breaking_img_7:after, .breaking_img_8:after {
    content: "";
    display: block;
    /*position: fixed; !* тоже могла бы быть абсолютной *!*/
    top: 20px;
    right: 100px;
    left: 0;
    height: 68px;
    width: 66px;
    z-index: 10;
    background-color: #203e38;
}

{

}

.breaking_img_6 {
    background-image: url("../images/layer_breaking_news_6.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 263px;
    height: 208px;
}

.breaking_img_7 {
    background-image: url("../images/layer_breaking_news_7.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 263px;
    height: 208px;
}

.breaking_img_8 {
    background-image: url("../images/layer_breaking_news_8.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 263px;
    height: 208px;
}

.breaking_img_5_section, .breaking_img_6_section, .breaking_img_7_section, .breaking_img_8_section {
    margin-bottom: 100px;
}

/*.services {*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*background-color: blue;*/
/*font-size: 30px;*/
/*}*/

.our_amazing_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-weight: 400;*/
    font-weight: normal
}

.our_amazing_bar_options, .our_amazing_bar_options_green {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid gainsboro;
    color: #717171;
    font-size: 20px;
    /*padding-top: 60px;*/
    margin-bottom: 50px;
    box-sizing: border-box;
}

/*.our_amazing_bar_options:active {*/
/*!*width: 90px;*!*/
/*background-color: #18cfab;*/
/*!*color: #18cfab;*!*/
/*}*/

.hr2 {
    margin-bottom: 80px;
}

.cell_1 {
    background-image: url("../images/theHam_logo_top.png");
    background-size: cover;
}

.cell_2 {
    background-image: url("../images/our_layer_59.png");
    background-size: cover;
    width: 252px;
}

.cell_3 {
    background-image: url("../images/our_layer_78.png");
    background-size: cover;
    width: 252px;
}

.cell_4 {
    background-image: url("../images/our_layer_90.png");
    background-size: cover;
    width: 252px;
}

.cell_5 {
    background-image: url("../images/our_layer_123.png");
    background-size: cover;
    width: 252px;
}

.cell_6 {
    background-image: url("../images/our_layout1.png");
    background-size: cover;
    width: 252px;
}

.cell_7 {
    background-image: url("../images/our_layer_5.jpg");
    background-size: cover;
    width: 252px;
}

.cell_8 {
    background-image: url("../images/our_amazing_int3.jpg");
    background-size: cover;
    width: 252px;
}

.cell_9 {
    background-image: url("../images/our_amazing_int4.png");
    background-size: cover;
    width: 252px;
}

.cell_10 {
    background-image: url("../images/our_layout_1000.png");
    background-size: cover;
    /*background-position: center;*/
    width: 252px;
}

.cell_11 {
    background-image: url("../images/our_layer_180.png");
    background-size: cover;
    width: 252px;
}

.cell_12 {
    background-image: url("../images/our_layout_1000.png");
    background-size: cover;
    width: 252px;
}

.title {
    text-align: center;
    margin: 2rem 0;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
}

.title {
    margin-top: 100px;
    color: #4e4e4e;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.section {
    width: 1140px;
    height: auto;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.masonry {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.column {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 380px;
    flex: 1 1 380px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.image {
    margin: 0;
}

.column > .element {
    margin: .5rem;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.load-more {
    margin: 2rem 0;
    height: 3rem;
    width: 10rem;
    border: none;
    border-radius: .25rem;
    outline: none;
    background: #18cfab;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.footer {
    padding: .5rem 0;
    height: 4rem;
    width: 100%;
    background: #22353f;
}

.footer-text {
    text-align: center;
    color: #fff;
}

.plus_2 {
    width: 16px;
    /*height: 16px;*/
    font-weight: bold;
}

.footer {
    background-color: #22353f;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    color: #aeaeae;
    font-size: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 1.857; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer_green {
    color: #18cfab;
    font-siz8e: 14px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 1.857; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.footer_content:hover {
    color: white;
}

/*EBUCHAYA MODALKA*//*EBUCHAYA MODALKA*//*EBUCHAYA MODALKA*//*EBUCHAYA MODALKA*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    box-sizing: border-box;
    width: 840px;
}

.close {
    float: right;
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
}

/*EBUCHAYA MODALKA*//*EBUCHAYA MODALKA*//*EBUCHAYA MODALKA*//*EBUCHAYA MODALKA*/

.order_your_theme {
    display: inline-block;
    font-family: Montserrat, sans-serif;
    color: #474646;
    font-size: 22px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.modal_inputs, .order_now_button {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.input1 {
    margin-bottom: 19px;
    background: url(../images/layer_input_1.png) no-repeat 310px 1px;
    height: 32px;
    background-size: auto 90%;
}

.input2 {
    background: url(../images/layer_input_2.png) no-repeat 310px 1px;
    height: 32px;
    background-size: auto 90%;
}

.order_now_button {
    margin-top: 20px;
    background-color: #18cfab;
}

.order_now_textInButton {
    color: #ffffff;
    font-size: 21px; /* Приближение из-за подстановки шрифтов */
    /*font-weight: 400;*/
    /*line-height: 30px;!* Приближение из-за подстановки шрифтов *!*/
    /*text-align: center;*/
    width: 330px;
    /*height: 50px;*/
}

.checkbox_remember {
    color: #b6b6b6;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.checkbox_forgot {
    color: #b6b6b6;
    font-size: 15px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: left;
}

.checkbox_forgot, .checkbox_remember {
    display: inline-block;
    margin: 20px;
}

#puchaseBtn {
    width: 166px;
    height: 61px;
    border-radius: 4px;
    background-color: #00cbf6;
    color: #ffffff;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 31px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    /*transform: scaleX(1.001);*/
}

.people_say_bg {
    height: 115vh;
    background-image: url("../images/bg_people_say.png");
    background-size: cover;
    background-position: center;
}

.people_say_title {
    padding-top: 100px;
    padding-bottom: 40px;
    color: #ffffff;
    font-size: 36px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.kavichki {
    background-image: url("../images/kavichki_people_say.png");
    height: 36px;
    width: 50px;
    background-size: cover;
    background-position: center;
}

.people_say_text {
    padding-top: 43px;
    color: #bbbbbb;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 30px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.people_name_in_people_say {
    padding-top: 43px;
    color: #18cfab;
    font-size: 16px; /* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 27px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.people_job_title {
    color: #bbbbbb;
    font-size: 13px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 27px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.kotik {
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}

/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

.sign_buttons {
    display: flex;
    justify-content: right;
    align-items: center;
}

.subscribe_and_get {
    display: flex;
    justify-content: right;
    /*align-items: rightgall;*/
    color: #18cfab;
    font-size: 21px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 24px; /* Приближение из-за подстановки шрифтов */
    text-align: right;
    padding-right: 42px;
}

/*////TABS////*/

a {
    color: #0094D6;
}

a:hover {
    text-decoration: none;
}

p {
    padding: 7px 0;
}

h1 {
    font-size: 21px;
    font-weight: normal;
    margin: 0 0 30px;
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 0 0 25px;
}

.text {
    max-width: 700px;
    margin: 0 0 30px;
    background: #FFF;
    border: 2px solid #7DCA86;
    border-radius: 5px;
    padding: 7px 15px;
    box-sizing: border-box;
}

.tabs {
    /*max-width: 700px;*/
    /*margin: 0 0 30px;*/
}

.tabs__caption {
    /*display: -webkit-flex;*/
    /*display: -ms-flexbox;*/
    display: flex;
    /*padding-top: px;*/
    /*-webkit-flex-wrap: wrap;*/
    /*-ms-flex-wrap: wrap;*/
    color: #717171;
    font-size: 15.98px; /* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 40px; /* Приближение из-за подстановки шрифтов */
    text-align: center;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin: -1px 0 0 -1px;
}

.tabs__caption li:last-child:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: -2px;
    z-index: -1;
    height: 5px;
    background: #7DCA86;
}

.tabs__caption:after {
    content: '';
    display: table;
    clear: both;
}

.tabs__caption li {
    padding: 15px 15px;
    margin: 1px 0 0 1px;
    background-color: #18cfab;
    color: #FFF;
    position: relative;
    /*border: solid lightcyan;*/
    border-width: 2px 2px 0;
    /*border-radius: 5px 5px 0 0;*/
    text-align: center;
}

.tabs__caption li:not(.active) {
    cursor: pointer;
}

.tabs__caption li:not(.active):hover {
    background: #7DCA86;
    border-color: #7DCA86;
}

.tabs__caption .active {
    background: #FFF;
    color: #000;
    border-color: #7DCA86;
}

.tabs__caption .active:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 5px;
    background: #FFF;
}

.tabs__content {
    display: none;
    background: #FFF;
    padding: 7px 15px;
    padding-bottom: 100px;
    margin-bottom: 105px;
}

.tabs__content.active {
    display: block;
}

.vertical .tabs__caption {
    float: left;
    display: block;
}

.vertical .tabs__caption li {
    float: none;
    border-width: 2px 0 2px 2px;
    border-radius: 5px 0 0 5px;
}

.vertical .tabs__caption li:last-child:before {
    display: none;
}

.vertical .tabs__caption .active:after {
    left: auto;
    top: 0;
    right: -2px;
    bottom: 0;
    width: 2px;
    height: auto;
}

.vertical .tabs__content {
    overflow: hidden;
}

.tabs_text {
    color: #777777;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 300;
}

.tabs__caption__centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 45px;
}

/*////TABS////*/
.vasya_pupkin {
    color: #18cfab;
    font-size: 20px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    line-height: 27px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}

.vasya_pupkin_job {
    color: #bbbbbb;
    font-size: 16px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 27px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
/*////////CAROUSEL////////*//*////////CAROUSEL////////*/

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q, blockquote {
    quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}

a img {
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

#slider {
    width: 500px;
    height: 300px;
    margin: 0 auto 10px;
    overflow: hidden;

    position: relative;
}

#slider ul {
    overflow: hidden;
    *zoom: 1;
}

#slider ul li {
    font-size: 1.5em;
    color: #fff;
    text-align: center;
    float: left;
    width: 476px;
    height: 300px;
    line-height: 300px;
}

#slider a {
    display: block;
    position: absolute;
    color: #fff;
    font-size: 2em;
    top: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: -15px;
    text-decoration: none;
    background: #000;
}

#slider a#sliderNext {
    right: 0;
}

#slider a:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

#pager {
    text-align: center;
}

#pager a {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

#pager a:hover, #pager a.active {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
}

/*////////CAROUSEL////////*//*////////CAROUSEL////////*/